@font-face {
    font-family: "GeneralSans-Medium";
    src: url("../fonts/GeneralSans-Medium.otf");
}

@font-face {
    font-family: "GeneralSans-Semibold";
    src: url("../fonts/GeneralSans-Semibold.otf");
}

@font-face {
    font-family: "GeneralSans-Regular";
    src: url("../fonts/GeneralSans-Regular.otf");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Inter_24pt-Regular";
    src: url("../fonts/Inter_24pt-Regular.ttf");
}

@font-face {
    font-family: "Inter_18pt-Bold";
    src: url("../fonts/Inter_18pt-Bold.ttf");
}

@font-face {
    font-family: "Inter_18pt-Bold";
    src: url("../fonts/Inter_18pt-Bold.ttf");
}

@font-face {
    font-family: "Inter_18pt-Light";
    src: url("../fonts/Inter_18pt-Light.ttf");
}

@font-face {
    font-family: "Inter_18pt-SemiBold";
    src: url("../fonts/Inter_18pt-SemiBold.ttf");
}

@font-face {
    font-family: "Inter_18pt-Medium";
    src: url("../fonts/Inter_18pt-Medium.ttf");
}

@font-face {
    font-family: "Inter_18pt-Light";
    src: url("../fonts/Inter_18pt-Light.ttf");
}

@font-face {
    font-family: "Inter_24pt-Regular";
    src: url("../fonts/Inter_24pt-Regular.ttf");
}

@font-face {
    font-family: "Inter_24pt-Medium";
    src: url("../fonts/Inter_24pt-Medium.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}